---
# Main scss file
---
@charset "utf-8";

@import
  'normalize',
  'solo',
  'syntax';

  .awe-ico {
      color: black;
      font-size: 0.8rem;
      -webkit-transition: all 0.5s;
      transition: all 0.2s;
  }

  .awe-ico:hover {
      color: #39CCCC;
  }

  .bullet {
      font-size: 0.8rem;
  }
